<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    	http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.2.xsd">
	<!--自动注入工厂 -->
	<bean id="jobFactory" class="com.thsword.netjob.web.quartz.JobTaskFactory" />

	<!-- 总配置 -->
	<bean id="scheduler"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="jobFactory" ref="jobFactory"></property>
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<!-- 加载 quartz.properties -->
		<property name="configLocation" value="classpath:properties/quartz.properties" />
	</bean>

</beans>