<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thsword.netjob.dao.IAccountDao">
	<resultMap id="accountMapper" type="account">
		<!-- ID -->
		<result property="id" column="pk_id" />
		<!-- 名称 -->
		<result property="memberId" column="c_memberId" />
		<!-- 类型 -->
		<result property="money" column="c_money" />
		<!-- appId -->
		<result property="status" column="c_status" />
	</resultMap>
	
	<resultMap id="accountPwdMapper" type="account">
		<!-- ID -->
		<result property="id" column="pk_id" />
		<!-- 名称 -->
		<result property="memberId" column="c_memberId" />
		<!-- 类型 -->
		<result property="password" column="c_password" />
		<!-- appId -->
		<result property="status" column="c_status" />
	</resultMap>

	<!-- #######################CRUD begin####################### -->  
	<!-- 增加 -->
	<insert id="addEntity" parameterType="account"
		keyProperty="id">
		<![CDATA[
			INSERT INTO t_account (
						pk_id,
						c_memberId,
						c_money,
						c_createDate,
						c_createBy,
						c_updateDate,
						c_updateBy
		 				)
				VALUES(
						#{id},
						#{memberId},
						#{money},
						now(),
						#{createBy},
						now(),
						#{updateBy}
				 	  	)
		]]>
	</insert>

	<!-- 删除 -->
	<delete id="deleteEntity" parameterType="account">
		<![CDATA[ DELETE FROM t_account WHERE pk_id=#{id}]]>
	</delete>

	<!-- 根据ID删除 -->
	<delete id="deleteEntityById" parameterType="java.lang.String">
		<![CDATA[ DELETE FROM t_account WHERE pk_id=#{entityId}]]>
	</delete>

	<!-- 更新 -->
	<update id="updateEntity" parameterType="account">
		UPDATE t_account
		<set>
			c_updateDate=now(),
			<if test="null!=money">c_money=#{money},</if>
			<if test="null!=updateBy">c_updateBy=#{updateBy}</if>
		</set>
		WHERE pk_id = #{id}
	</update>

	<!-- 根据ID查找 -->
	<select id="queryEntityById" parameterType="java.lang.String" resultMap="accountMapper">
		<![CDATA[ SELECT t.* FROM t_account t WHERE pk_id = #{entityId} ]]>
	</select>

	<!--  条件查询查询所有 -->
	<select id="queryAllEntity" resultMap="accountMapper" parameterType="account">
		 <![CDATA[ SELECT * FROM t_account WHERE 1=1]]>
		 order by c_createDate desc
	</select>
	
	<!--  条件查询查询所有 -->
	<select id="queryEntity" resultMap="accountMapper" parameterType="account">
		 <![CDATA[ SELECT * FROM t_account WHERE 1=1]]>
		 <if test="null!=memberId">and c_memberId = #{memberId}</if>
	</select>
	
	<!--  条件查询查询所有 -->
	<select id="queryCountEntity" resultType="java.lang.Integer" parameterType="account">
		 <![CDATA[ SELECT count(*) FROM t_account WHERE 1=1]]>
	</select>
	
	<!-- 查询分页列表(分页) -->
	<select id="queryPageEntity" resultMap="accountMapper" parameterType="java.util.Map">
		 <![CDATA[ SELECT * FROM t_account WHERE 1=1]]>
	</select>

	<!-- #######################CRUD end####################### -->
	
	<!-- 更新 -->
	<update id="updatePassword" parameterType="account">
		UPDATE t_account
		set
			c_updateDate=now(),
			c_password=#{password}
		WHERE c_memberId = #{memberId}
	</update>
	
	<!-- 更新 -->
	<select id="queryPwdMember" parameterType="account" resultMap="accountPwdMapper">
		SELECT * FROM t_account WHERE 1=1
		 and c_memberId = #{memberId}
	</select>
</mapper>