<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thsword.netjob.dao.IAccountCenterDao">
	<resultMap id="accountCenterMapper" type="accountCenter">
		<!-- ID -->
		<result property="id" column="pk_id" />
		<!-- 名称 -->
		<result property="memberId" column="c_memberId" />
		<!-- 类型 -->
		<result property="money" column="c_money" />
		<!-- appId -->
		<result property="status" column="c_status" />
	</resultMap>
	

	<!-- #######################CRUD begin####################### -->  

	<!-- 更新 -->
	<update id="updateEntity" parameterType="accountCenter">
		UPDATE t_accountCenter
		<set>
			c_updateDate=now(),
			<if test="null!=money">c_money=#{money},</if>
			<if test="null!=updateBy">c_updateBy=#{updateBy}</if>
		</set>
		WHERE pk_id = #{id}
	</update>

	<!-- 根据ID查找 -->
	<select id="queryEntityById" parameterType="java.lang.String" resultMap="accountCenterMapper">
		<![CDATA[ SELECT t.* FROM t_accountCenter t WHERE pk_id = #{entityId} ]]>
	</select>

	<!--  条件查询查询所有 -->
	<select id="queryAllEntity" resultMap="accountCenterMapper" parameterType="accountCenter">
		 <![CDATA[ SELECT * FROM t_accountCenter WHERE 1=1]]>
		 order by c_createDate desc
	</select>
	
	<!--  条件查询查询所有 -->
	<select id="queryEntity" resultMap="accountCenterMapper" parameterType="accountCenter">
		 <![CDATA[ SELECT * FROM t_accountCenter WHERE 1=1]]>
		 <if test="null!=memberId">and c_memberId = #{memberId}</if>
	</select>
	
	<!-- #######################CRUD end####################### -->
</mapper>