<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thsword.netjob.dao.IAccountCenterDetailDao">
	<resultMap id="accountCenterDetailMapper" type="accountCenterDetail">
		<!-- ID -->
		<result property="id" column="pk_id" />
		<!-- 金额 -->
		<result property="money" column="c_money" />
		<!-- 订单ID -->
		<result property="orderId" column="c_orderId" />
		<!-- 交易号 -->
		<result property="tradeNo" column="c_tradeNo" />
		<!-- 买家ID -->
		<result property="sellerId" column="c_sellerId" />
		<!-- 卖家ID -->
		<result property="buyerId" column="c_buyerId" />
		<!-- 服务费 -->
		<result property="tip" column="c_tip" />
		<!-- 状态 -->
		<result property="status" column="c_status" />
		<!-- 创建时间 -->
		<result property="createDate" column="c_createDate" />
		<!-- 更新时间 -->
		<result property="updateDate" column="c_updateDate" />
	</resultMap>

	<!-- #######################CRUD begin####################### -->  
	<!-- 增加 -->
	<insert id="addEntity" parameterType="accountCenterDetail"
		keyProperty="id">
		<![CDATA[
			INSERT INTO t_accountCenter_detail (
						pk_id,
						c_money,
						c_tip,
						c_orderId,
						c_tradeNo,
						c_sellerId,
						c_buyerId,
						c_status,
						c_createDate,
						c_createBy,
						c_updateDate,
						c_updateBy
		 				)
				VALUES(
						#{id},
						#{money},
						#{tip},
						#{orderId},
						#{tradeNo},
						#{sellerId},
						#{buyerId},
						#{status},
						now(),
						#{createBy},
						now(),
						#{updateBy}
				 	  	)
		]]>
	</insert>

	<!-- 删除 -->
	<delete id="deleteEntity" parameterType="accountCenterDetail">
		<![CDATA[ DELETE FROM t_accountCenter_detail WHERE pk_id=#{id}]]>
	</delete>

	<!-- 根据ID删除 -->
	<delete id="deleteEntityById" parameterType="java.lang.String">
		<![CDATA[ DELETE FROM t_accountCenter_detail WHERE pk_id=#{entityId}]]>
	</delete>

	<!-- 更新 -->
	<update id="updateEntity" parameterType="accountCenterDetail">
		UPDATE t_accountCenter_detail
		<set>
			c_updateDate=now(),
			<if test="null!=status">c_status=#{status}</if>
		</set>
		WHERE pk_id = #{id}
	</update>

	<!-- 根据ID查找 -->
	<select id="queryEntityById" parameterType="java.lang.String" resultMap="accountCenterDetailMapper">
		<![CDATA[ SELECT t.* FROM t_accountCenter_detail t WHERE pk_id = #{entityId} ]]>
	</select>

	<!--  条件查询查询所有 -->
	<select id="queryAllEntity" resultMap="accountCenterDetailMapper" parameterType="accountCenterDetail">
		 <![CDATA[ SELECT * FROM t_accountCenter_detail WHERE 1=1]]>
		 order by c_createDate desc
	</select>
	
	<!--  条件查询查询所有 -->
	<select id="queryEntity" resultMap="accountCenterDetailMapper" parameterType="accountCenterDetail">
		 <![CDATA[ SELECT * FROM t_accountCenter_detail WHERE 1=1]]>
		 <if test="null!=orderId and ''!=orderId">and c_orderId = #{orderId}</if>
		 <if test="null!=tradeNo and ''!=tradeNo">and c_tradeNo = #{tradeNo}</if>
	</select>
	
	<!--  条件查询查询所有 -->
	<select id="queryCountEntity" resultType="java.lang.Integer" parameterType="accountCenterDetail">
		 <![CDATA[ SELECT count(*) FROM t_accountCenter_detail WHERE 1=1]]>
	</select>
	
	<!-- 查询分页列表(分页) -->
	<select id="queryPageEntity" resultMap="accountCenterDetailMapper" parameterType="java.util.Map">
		 <![CDATA[ SELECT * FROM t_accountCenter_detail WHERE 1=1]]>
	</select>

	<!-- #######################CRUD end####################### -->
	
	
</mapper>