<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thsword.netjob.dao.IAddressDao">
	<resultMap id="addressMapper" type="address">
		<!-- ID -->
		<result property="id" column="pk_id" />
		<!-- 省 -->
		<result property="provinceName" column="c_province_name" />
		<!-- 市 -->
		<result property="cityName" column="c_city_name" />
		<!-- 省 -->
		<result property="province" column="c_province" />
		<!-- 市 -->
		<result property="citycode" column="c_citycode" />
		<!-- 区 -->
		<result property="area" column="c_area" />
		<!-- 区 -->
		<result property="isDefault" column="c_isDefault" />
		<!-- 详细地址 -->
		<result property="detailAddress" column="c_detail_address" />
		<!-- 收件人 -->
		<result property="receiver" column="c_receiver" />
		<!-- 收件号码 -->
		<result property="phone" column="c_phone" />
	</resultMap>

	<!-- #######################CRUD begin####################### -->  
	<!-- 增加 -->
	<insert id="addEntity" parameterType="address"
		keyProperty="id">
		<![CDATA[
			INSERT INTO t_address (
						pk_id,
						c_memberId,
						c_province,
						c_province_name,
						c_citycode,
						c_city_name,
						c_area,
						c_detail_address,
						c_receiver,
						c_phone,
						c_isDefault,
						c_createDate,
						c_createBy,
						c_updateDate,
						c_updateBy
		 				)
				VALUES(
						#{id},
						#{memberId},
						#{province},
						#{provinceName},
						#{citycode},
						#{cityName},
						#{area},
						#{detailAddress},
						#{receiver},
						#{phone},
						#{isDefault},
						now(),
						#{createBy},
						now(),
						#{updateBy}
				 	  	)
		]]>
	</insert>

	<!-- 删除 -->
	<delete id="deleteEntity" parameterType="address">
		<![CDATA[ DELETE FROM t_address WHERE pk_id=#{id}]]>
	</delete>

	<!-- 根据ID删除 -->
	<delete id="deleteEntityById" parameterType="java.lang.String">
		<![CDATA[ DELETE FROM t_address WHERE pk_id=#{entityId}]]>
	</delete>

	<!-- 更新 -->
	<update id="updateEntity" parameterType="address">
		UPDATE t_address
		<set>
			c_updateDate=now(),
			<if test="null!=province">c_province=#{province},</if>
			<if test="null!=provinceName">c_province_name=#{provinceName}, </if>
			<if test="null!=citycode">c_citycode=#{citycode}, </if>
			<if test="null!=cityName">c_city_name=#{cityName}, </if>
			<if test="null!=isDefault">c_isDefault=#{isDefault}, </if>
			<if test="null!=area">c_area=#{area}, </if>
			<if test="null!=detailAddress">c_detail_address=#{detailAddress},</if>
			<if test="null!=receiver">c_receiver=#{receiver},</if>
			<if test="null!=phone">c_phone=#{phone},</if>
			<if test="null!=isDel">c_isDel=#{isDel},</if>
		</set>
		WHERE pk_id = #{id}
	</update>

	<!-- 根据ID查找 -->
	<select id="queryEntityById" parameterType="java.lang.String" resultMap="addressMapper">
		<![CDATA[ SELECT t.* FROM t_address t WHERE pk_id = #{entityId} ]]>
	</select>

	<!--  条件查询查询所有 -->
	<select id="queryAllEntity" resultMap="addressMapper" parameterType="address">
		 <![CDATA[ SELECT * FROM t_address WHERE 1=1]]>
		 <if test="null!=memberId">and c_memberId = #{memberId}</if>
		 <if test="null!=isDel">and c_isDel = #{isDel}</if>
		 order by c_createDate desc
	</select>
	
	<!--  条件查询查询所有 -->
	<select id="queryEntity" resultMap="addressMapper" parameterType="address">
		 <![CDATA[ SELECT * FROM t_address WHERE 1=1]]>
		 <if test="null!=memberId and ''!=memberId">and c_memberId = #{memberId}</if>
		 <if test="null!=isDefault and ''!=isDefault">and c_isDefault = #{isDefault}</if>
	</select>
	
	<!--  条件查询查询所有 -->
	<select id="queryCountEntity" resultType="java.lang.Integer" parameterType="address">
		 <![CDATA[ SELECT count(*) FROM t_address WHERE 1=1]]>
	</select>
	
	<!-- 查询分页列表(分页) -->
	<select id="queryPageEntity" resultMap="addressMapper" parameterType="java.util.Map">
		 <![CDATA[ SELECT * FROM t_address WHERE 1=1]]>
	</select>

	<!-- #######################CRUD end####################### -->
</mapper>