<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thsword.netjob.dao.IAuthCompanyDao">
	<resultMap id="authCompanyMapper" type="authCompany">
		<!-- ID -->
		<result property="id" column="pk_id" />
		<!-- memberId -->
		<result property="memberId" column="c_memberId" />
		<!-- type -->
		<result property="type" column="c_type" />
		<!-- tradeCode -->
		<result property="name" column="c_name" />
		<!-- tradeLinks -->
		<result property="code" column="c_code" />
		<!-- tradeLinks -->
		<result property="links" column="c_links" />
		<result property="createDate" column="c_createDate" />
	</resultMap>

	<!-- #######################CRUD begin####################### -->  
	<!-- 增加 -->
	<insert id="addEntity" parameterType="authCompany"
		keyProperty="id">
		<![CDATA[
			INSERT INTO t_auth_company (
						pk_id,
						c_memberId,
						c_type,
						c_name,
						c_code,
						c_links,
						c_citycode,
						c_createDate,
						c_createBy,
						c_updateDate,
						c_updateBy
		 				)
				VALUES(
						#{id},
						#{memberId},
						#{type},
						#{name},
						#{code},
						#{links},
						#{citycode},
						now(),
						#{createBy},
						now(),
						#{updateBy}
				 	  	)
		]]>
	</insert>

	<!-- 删除 -->
	<delete id="deleteEntity" parameterType="authCompany">
		<![CDATA[ DELETE FROM t_auth_company WHERE pk_id=#{id}]]>
	</delete>

	<!-- 根据ID删除 -->
	<delete id="deleteEntityById" parameterType="java.lang.String">
		<![CDATA[ DELETE FROM t_auth_company WHERE pk_id=#{entityId}]]>
	</delete>

	<!-- 更新 -->
	<update id="updateEntity" parameterType="authCompany">
		UPDATE t_auth_company
		<set>
			c_updateDate=now(),
			<if test="null!=memberId">c_memberId=#{memberId},</if>
			<if test="null!=type">c_type=#{type}, </if>
			<if test="null!=name">c_name=#{name}, </if>
			<if test="null!=code">c_code=#{code},</if>
			<if test="null!=links">c_links=#{links}</if>
		</set>
		WHERE 1=1
		<if test="null!=id and ''!=id">and pk_id = #{id}</if>
		<if test="null!=memberId and ''!=memberId">and c_memberId = #{memberId}</if>
		<if test="null!=citycode and ''!=citycode">and c_citycode = #{citycode}</if>
	</update>

	<!-- 根据ID查找 -->
	<select id="queryEntityById" parameterType="java.lang.String" resultMap="authCompanyMapper">
		<![CDATA[ SELECT t.* FROM t_auth_company t WHERE pk_id = #{entityId} ]]>
		<if test="null!=citycode and ''!=citycode">and c_citycode = #{citycode}</if>
	</select>

	<!--  条件查询查询所有 -->
	<select id="queryAllEntity" resultMap="authCompanyMapper" parameterType="authCompany">
		 <![CDATA[ SELECT * FROM t_auth_company WHERE 1=1]]>
		 <if test="null!=memberId and ''!=memberId">and c_memberId = #{memberId}</if>
		 <if test="null!=citycode and ''!=citycode">and c_citycode = #{citycode}</if>
		 order by c_createDate desc
	</select>
	
	<!--  条件查询查询所有 -->
	<select id="queryEntity" resultMap="authCompanyMapper" parameterType="authCompany">
		 <![CDATA[ SELECT * FROM t_auth_company WHERE 1=1]]>
		<if test="null!=id and ''!=id">and pk_id = #{id}</if>
		<if test="null!=memberId and ''!=memberId">and c_memberId = #{memberId}</if>
		<if test="null!=type and ''!=type">and c_type = #{type}</if>
		<if test="null!=citycode and ''!=citycode">and c_citycode = #{citycode}</if>
	</select>
	
	<!--  条件查询查询所有 -->
	<select id="queryCountEntity" resultType="java.lang.Integer" parameterType="authCompany">
		 <![CDATA[ SELECT count(*) FROM t_auth_company WHERE 1=1]]>
	</select>
	
	<!-- 查询分页列表(分页) -->
	<select id="queryPageEntity" resultMap="authCompanyMapper" parameterType="java.util.Map">
		 <![CDATA[ SELECT * FROM t_auth_company WHERE 1=1]]>
	</select>

	<!-- #######################CRUD end####################### -->
</mapper>