<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thsword.netjob.dao.IAuthPersonDao">
	<resultMap id="authPersonMapper" type="authPerson">
		<!-- ID -->
		<result property="id" column="pk_id" />
		<!-- 类型 -->
		<result property="type" column="c_type" />
		<!-- code -->
		<result property="code" column="c_code" />
			<!-- code -->
		<result property="memberId" column="c_memberId" />
		<!-- code -->
		<result property="name" column="c_name" />
		<!-- code -->
		<result property="status" column="c_status" />
		<!-- code -->
		<result property="isPublic" column="c_isPublic" />
		<!-- "links" -->
		<result property="links" column="c_links" />
		<result property="createDate" column="c_createDate" />
	</resultMap>

	<!-- #######################CRUD begin####################### -->  
	<!-- 增加 -->
	<insert id="addEntity" parameterType="authPerson"
		keyProperty="id">
		<![CDATA[
			INSERT INTO t_auth_person (
						pk_id,
						c_memberId,
						c_type,
						c_code,
						c_name,
						c_isPublic,
						c_citycode,
						c_links,
						c_createDate,
						c_createBy,
						c_updateDate,
						c_updateBy
		 				)
				VALUES(
						#{id},
						#{memberId},
						#{type},
						#{code},
						#{name},
						#{isPublic},
						#{citycode},
						#{links},
						now(),
						#{createBy},
						now(),
						#{updateBy}
				 	  	)
		]]>
	</insert>

	<!-- 删除 -->
	<delete id="deleteEntity" parameterType="authPerson">
		<![CDATA[ DELETE FROM t_auth_person WHERE pk_id=#{id}]]>
	</delete>

	<!-- 根据ID删除 -->
	<delete id="deleteEntityById" parameterType="java.lang.String">
		<![CDATA[ DELETE FROM t_auth_person WHERE pk_id=#{entityId}]]>
	</delete>

	<!-- 更新 -->
	<update id="updateEntity" parameterType="authPerson">
		UPDATE t_auth_person
		<set>
			c_updateDate=now(),
			<if test="null!=code">c_code=#{code},</if>
			<if test="null!=name">c_name=#{name},</if>
			<if test="null!=status">c_status=#{status},</if>
			<if test="null!=isPublic">c_isPublic=#{isPublic}, </if>
			<if test="null!=links">c_links=#{links}</if>
		</set>
		WHERE pk_id = #{id}
	</update>

	<!-- 根据ID查找 -->
	<select id="queryEntityById" parameterType="java.lang.String" resultMap="authPersonMapper">
		<![CDATA[ SELECT t.* FROM t_auth_person t WHERE pk_id = #{entityId} ]]>
	</select>

	<!--  条件查询查询所有 -->
	<select id="queryAllEntity" resultMap="authPersonMapper" parameterType="authPerson">
		 <![CDATA[ SELECT * FROM t_auth_person WHERE 1=1]]>
		 <if test="null!=memberId and ''!=memberId">and c_memberId = #{memberId}</if>
		 <if test="null!=citycode and ''!=citycode">and c_citycode = #{citycode}</if>
		 <if test="null!=status and ''!=status">and c_status = #{status}</if>
		 order by c_createDate desc
	</select>
	
	<!--  条件查询查询所有 -->
	<select id="queryEntity" resultMap="authPersonMapper" parameterType="authPerson">
		 <![CDATA[ SELECT * FROM t_auth_person WHERE 1=1]]>
		 <if test="null!=memberId and ''!=memberId">and c_memberId = #{memberId}</if>
		  <if test="null!=type and ''!=type">and c_type = #{type}</if>
		 <if test="null!=id and ''!=id">and pk_id = #{id}</if>
		  <if test="null!=status and ''!=status">and c_status = #{status}</if>
		  <if test="null!=citycode and ''!=citycode">and c_citycode = #{citycode}</if>
	</select>
	
	<!--  条件查询查询所有 -->
	<select id="queryCountEntity" resultType="java.lang.Integer" parameterType="authPerson">
		 <![CDATA[ SELECT count(*) FROM t_auth_person WHERE 1=1]]>
		 <if test="null!=citycode and ''!=citycode">and c_citycode = #{citycode}</if>
		  <if test="null!=status and ''!=status">and c_status = #{status}</if>
	</select>
	
	<!-- 查询分页列表(分页) -->
	<select id="queryPageEntity" resultMap="authPersonMapper" parameterType="java.util.Map">
		 <![CDATA[ SELECT * FROM t_auth_person WHERE 1=1]]>
		 <if test="null!=citycode and ''!=citycode">and c_citycode = #{citycode}</if>
		  <if test="null!=status and ''!=status">and c_status = #{status}</if>
	</select>

	<!-- #######################CRUD end####################### -->
</mapper>