<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thsword.netjob.dao.IBrandDao">
	<resultMap id="brandMapper" type="brand">
		<!-- ID -->
		<result property="id" column="pk_id" />
		<!-- 名称 -->
		<result property="title" column="c_title" />
		<!-- 类型 -->
		<result property="type" column="c_type" />
		<!-- agrees -->
		<result property="agrees" column="c_agrees" />
		<!-- links -->
		<result property="links" column="c_links" />
		<!-- tips -->
		<result property="tips" column="c_tips" />
		<!-- author -->
		<result property="author" column="c_author" />
		<!-- content -->
		<result property="content" column="c_content" />
		<!-- content -->
		<result property="citycode" column="c_citycode" />
		<!-- content -->
		<result property="cityName" column="c_city_Name" />
		<!-- content -->
		<result property="provinceName" column="c_province_name" />
		<!-- content -->
		<result property="createDate" column="c_createDate" />
		<!-- content -->
		<result property="memberName" column="c_name" />
		<!-- content -->
		<result property="memberId" column="c_memberId" />
	</resultMap>

	<!-- #######################CRUD begin####################### -->  
	<!-- 增加 -->
	<insert id="addEntity" parameterType="brand"
		keyProperty="id">
		<![CDATA[
			INSERT INTO t_brand (
						pk_id,
						c_memberId,
						c_title,
						c_type,
						c_links,
						c_author,
						c_content,
						c_citycode,
						c_province_name,
						c_city_name,
						c_createDate,
						c_createBy,
						c_updateDate,
						c_updateBy
		 				)
				VALUES(
						#{id},
						#{memberId},
						#{title},
						#{type},
						#{links},
						#{author},
						#{content},
						#{citycode},
						#{provinceName},
						#{cityName},
						now(),
						#{memberId},
						now(),
						#{memberId}
				 	  	)
		]]>
	</insert>

	<!-- 删除 -->
	<delete id="deleteEntity" parameterType="brand">
		<![CDATA[ DELETE FROM t_brand WHERE pk_id=#{id}]]>
	</delete>

	<!-- 根据ID删除 -->
	<delete id="deleteEntityById" parameterType="java.lang.String">
		<![CDATA[ DELETE FROM t_brand WHERE pk_id=#{entityId}]]>
	</delete>

	<!-- 更新 -->
	<update id="updateEntity" parameterType="brand">
		UPDATE t_brand
		<set>
			c_updateDate=now(),
			<if test="null!=agrees">c_agrees=#{agrees},</if>
			<if test="null!=tips">c_tips=#{tips} </if>
		</set>
		WHERE pk_id = #{id}
	</update>

	<!-- 根据ID查找 -->
	<select id="queryEntityById" parameterType="java.lang.String" resultMap="brandMapper">
		<![CDATA[ SELECT t.* FROM t_brand t WHERE pk_id = #{entityId} ]]>
	</select>

	<!--  条件查询查询所有 -->
	<select id="queryAllEntity" resultMap="brandMapper" parameterType="brand">
		 <![CDATA[ SELECT * FROM t_brand WHERE 1=1]]>
		 <if test="null!=memberId and ''!=memberId">and c_memberId = #{memberId}</if>
		 order by c_createDate desc
	</select>
	
	<!--  条件查询查询所有 -->
	<select id="queryEntity" resultMap="brandMapper" parameterType="brand">
		 <![CDATA[ SELECT * FROM t_brand WHERE 1=1]]>
		 <if test="null!=id">and pk_id = #{id}</if>
	</select>
	
	<!--  条件查询查询所有 -->
	<select id="queryCountEntity" resultType="java.lang.Integer" parameterType="brand">
		 <![CDATA[ SELECT count(*) FROM t_brand WHERE 1=1]]>
		 <if test="null!=id">and pk_id = #{id}</if>
	</select>
	
	<!-- 查询分页列表(分页) -->
	<select id="queryPageEntity" resultMap="brandMapper" parameterType="java.util.Map">
		 <![CDATA[ SELECT t.*,m.c_name FROM t_brand t left join t_member m on m.pk_id = t.c_memberId WHERE 1=1]]>
		 <if test="null!=type and ''!=type">and t.c_type = #{type}</if>
		<if test="null!=provinceName and ''!=provinceName">and t.c_province_name = #{provinceName}</if>
		<if test="null!=cityName and ''!=cityName">and t.c_city_name = #{cityName}</if>
		<if test="null!=title and ''!=title">and t.c_title like "%"#{title}"%"</if>
		<if test="null!=citycode and ''!=citycode">and t.c_citycode =#{citycode}</if>
	</select>

	<!-- #######################CRUD end####################### -->
</mapper>