<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thsword.netjob.dao.ICoinRecordDao">
	<resultMap id="coinRecordMapper" type="coinRecord">
		<!-- ID -->
		<result property="id" column="pk_id" />
		<!-- 用户ID -->
		<result property="memberId" column="c_memberId" />
		<!-- 收款方ID -->
		<result property="targetId" column="c_targetId" />
		<!-- 收款方名 -->
		<result property="targetName" column="c_targetName" />
		<!-- 付款方ID -->
		<result property="resourceId" column="c_targetId" />
		<!-- 付款方名称 -->
		<result property="resourceName" column="c_targetName" />
		<!-- 是否收入 -->
		<result property="isIn" column="c_isIn" />
		<!-- 收入金额 -->
		<result property="income" column="c_income" />
		<!-- 支出金额 -->
		<result property="outcome" column="c_outcome" />
		<!-- 流水号、订单号 -->
		<result property="flowId" column="c_flowId" />
		<!-- 交易类型 -->
		<result property="recordType" column="c_recordType" />
		<!-- 城市 -->
		<result property="citycode" column="c_citycode" />
		<!-- 交易日期 -->
		<result property="createDate" column="c_createDate" />
	</resultMap>

	<!-- #######################CRUD begin####################### -->  
	<!-- 增加 -->
	<insert id="addEntity" parameterType="coinRecord"
		keyProperty="id">
		<![CDATA[
			INSERT INTO t_coinRecord (
						pk_id,
						c_memberId,
						c_targetId,
						c_targetName,
						c_resourceId,
						c_resourceName,
						c_isIn,
						c_income,
						c_outcome,
						c_flowId,
						c_recordType,
						c_citycode,
						c_createDate,
						c_createBy,
						c_updateDate,
						c_updateBy
		 				)
				VALUES(
						#{id},
						#{memberId},
						#{targetId},
						#{targetName},
						#{resourceId},
						#{resourceName},
						#{isIn},
						#{income},
						#{outcome},
						#{flowId},
						#{recordType},
						#{citycode},
						now(),
						#{createBy},
						now(),
						#{updateBy}
				 	  	)
		]]>
	</insert>

	<!-- 删除 -->
	<delete id="deleteEntity" parameterType="coinRecord">
		<![CDATA[ DELETE FROM t_coinRecord WHERE pk_id=#{id}]]>
	</delete>

	<!-- 根据ID删除 -->
	<delete id="deleteEntityById" parameterType="java.lang.String">
		<![CDATA[ DELETE FROM t_coinRecord WHERE pk_id=#{entityId}]]>
	</delete>

	<!-- 更新 -->
	<update id="updateEntity" parameterType="coinRecord">
		UPDATE t_coinRecord
		<set>
			c_updateDate=now(),
			<if test="null!=updateBy">c_updateBy=#{updateBy}</if>
		</set>
		WHERE pk_id = #{id}
	</update>

	<!-- 根据ID查找 -->
	<select id="queryEntityById" parameterType="java.lang.String" resultMap="coinRecordMapper">
		<![CDATA[ SELECT t.* FROM t_coinRecord t WHERE pk_id = #{entityId} ]]>
	</select>

	<!--  条件查询查询所有 -->
	<select id="queryAllEntity" resultMap="coinRecordMapper" parameterType="coinRecord">
		 <![CDATA[ SELECT * FROM t_coinRecord WHERE 1=1]]>
		 order by c_createDate desc
	</select>
	
	<!--  条件查询查询所有 -->
	<select id="queryEntity" resultMap="coinRecordMapper" parameterType="coinRecord">
		 <![CDATA[ SELECT * FROM t_coinRecord WHERE 1=1]]>
		 <if test="null!=memberId">and c_memberId = #{memberId}</if>
	</select>
	
	<!--  条件查询查询所有 -->
	<select id="queryCountEntity" resultType="java.lang.Integer" parameterType="coinRecord">
		 <![CDATA[ SELECT count(*) FROM t_coinRecord WHERE 1=1]]>
	</select>
	
	<!-- 查询分页列表(分页) -->
	<select id="queryPageEntity" resultMap="coinRecordMapper" parameterType="java.util.Map">
		 <![CDATA[ SELECT * FROM t_coinRecord WHERE 1=1]]>
		 <if test="null!=memberId and ''!=memberId">and c_memberId = #{memberId}</if>
		 <if test="null!=targetId and ''!=targetId">and c_targetId = #{targetId}</if>
		 <if test="null!=isIn and ''!=isIn">and c_isIn = #{isIn}</if>
		 <if test="null!=flowId and ''!=flowId">and c_flowId = #{flowId}</if>
		 <if test="null!=recordType and ''!=recordType">and c_recordType = #{recordType}</if>
	</select>

	<!-- #######################CRUD end####################### -->
</mapper>