<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thsword.netjob.dao.ICommentDao">
	<resultMap id="commentMapper" type="comment">
		<!-- ID -->
		<result property="id" column="pk_id" />
		<!-- 服务ID -->
		<result property="bizId" column="c_bizId" />
		<!-- 服务ID -->
		<result property="image" column="c_image" />
		<!-- 用户ID -->
		<result property="memberId" column="c_memberId" />
		<!-- 用户ID -->
		<result property="memberName" column="memberName" />
		<!-- 用户ID -->
		<result property="memberImage" column="memberImage" />
		<!-- 内容 -->
		<result property="content" column="c_content" />
		<!-- 时间 -->
		<result property="createDate" column="c_createDate" />
	</resultMap>

	<!-- #######################CRUD begin####################### -->  
	<!-- 增加 -->
	<insert id="addEntity" parameterType="comment"
		keyProperty="id">
		<![CDATA[
			INSERT INTO t_comment (
						pk_id,
						c_bizId,
						c_memberId,
						c_image,
						c_content,
						c_parentId,
						c_createDate,
						c_createBy,
						c_updateDate,
						c_updateBy
		 				)
				VALUES(
						#{id},
						#{bizId},
						#{memberId},
						#{image},
						#{content},
						#{parentId},
						now(),
						#{createBy},
						now(),
						#{updateBy}
				 	  	)
		]]>
	</insert>

	<!-- 删除 -->
	<delete id="deleteEntity" parameterType="comment">
		<![CDATA[ DELETE FROM t_comment WHERE pk_id=#{id}]]>
	</delete>

	<!-- 根据ID删除 -->
	<delete id="deleteEntityById" parameterType="java.lang.String">
		<![CDATA[ DELETE FROM t_comment WHERE pk_id=#{entityId}]]>
	</delete>

	<!-- 更新 -->
	<update id="updateEntity" parameterType="comment">
		UPDATE t_comment
		<set>
			c_updateDate=now()
		</set>
		WHERE pk_id = #{id}
	</update>

	<!-- 根据ID查找 -->
	<select id="queryEntityById" parameterType="java.lang.String" resultMap="commentMapper">
		<![CDATA[ SELECT t.* FROM t_comment t WHERE pk_id = #{entityId} ]]>
	</select>

	<!--  条件查询查询所有 -->
	<select id="queryAllEntity" resultMap="commentMapper" parameterType="comment">
		 <![CDATA[ SELECT * FROM t_comment WHERE 1=1]]>
		 <if test="null!=bizId and ''!=bizId">and c_bizId  = #{bizId }</if>
		 order by c_createDate desc
	</select>
	
	<!--  条件查询查询所有 -->
	<select id="queryEntity" resultMap="commentMapper" parameterType="comment">
		 <![CDATA[ SELECT * FROM t_comment WHERE 1=1]]>
		 and pk_id = #{id}
	</select>
	
	<!--  条件查询查询所有 -->
	<select id="queryCountEntity" resultType="java.lang.Integer" parameterType="comment">
		 <![CDATA[ SELECT count(*) FROM t_comment WHERE 1=1]]>
		 <if test="null!=bizId and ''!=bizId">and c_bizId  = #{bizId }</if>
		 <if test="null!=memberId and ''!=memberId">and c_memberId = #{memberId}</if>
		 <if test="null!=parentId and ''!=parentId">and c_parentId = #{parentId}</if>
	</select>
	
	<!-- 查询分页列表(分页) -->
	<select id="queryPageEntity" resultMap="commentMapper" parameterType="java.util.Map">
		 <![CDATA[ SELECT t.*,m.c_name as memberName,m.c_image as memberImage FROM t_comment t left join t_member m on t.c_memberId = m.pk_id WHERE 1=1 ]]>
		 <if test="null!=bizId and ''!=bizId">and c_bizId  = #{bizId }</if>
		 <if test="null!=memberId and ''!=memberId">and c_memberId = #{memberId}</if>
		 <if test="null!=parentId and ''!=parentId">and c_parentId = #{parentId}</if>
	</select>

	<!-- #######################CRUD end####################### -->
</mapper>