<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thsword.netjob.dao.IDictDao">
	<resultMap id="dictMapper" type="dict">
		<!-- ID -->
		<result property="id" column="pk_id" />
		<!-- 名称 -->
		<result property="name" column="c_name" />
		<!-- 类型 -->
		<result property="type" column="c_type" />
		<!-- value -->
		<result property="value" column="c_value" />
		<!-- value -->
		<result property="sort" column="c_sort" />
	</resultMap>
	
	<resultMap id="relateMapper" type="dict">
		<!-- ID -->
		<result property="id" column="pk_id" />
		<!-- 名称 -->
		<result property="name" column="c_name" />
		<!-- 类型 -->
		<result property="type" column="c_type" />
		<!-- value -->
		<result property="value" column="c_value" />
		<!-- value -->
		<result property="sort" column="c_sort" />
		<!-- 权限 -->
		<collection property="children" column="pk_id" select="com.thsword.netjob.dao.IDictDao.queryChilds"></collection>
	</resultMap>

	<!-- #######################CRUD begin####################### -->  
	<!-- 增加 -->
	<insert id="addEntity" parameterType="dict"
		keyProperty="id">
		<![CDATA[
			INSERT INTO t_dict (
						pk_id,
						c_name,
						c_type,
						c_value,
						c_sort,
						c_parentId,
						c_createDate,
						c_createBy,
						c_updateDate,
						c_updateBy
		 				)
				VALUES(
						#{id},
						#{name},
						#{type},
						#{value},
						#{sort},
						#{parentId},
						now(),
						#{createBy},
						now(),
						#{updateBy}
				 	  	)
		]]>
	</insert>

	<!-- 删除 -->
	<delete id="deleteEntity" parameterType="dict">
		<![CDATA[ DELETE FROM t_dict WHERE pk_id=#{id}]]>
	</delete>

	<!-- 根据ID删除 -->
	<delete id="deleteEntityById" parameterType="java.lang.String">
		<![CDATA[ DELETE FROM t_dict WHERE pk_id=#{entityId}]]>
	</delete>

	<!-- 更新 -->
	<update id="updateEntity" parameterType="dict">
		UPDATE t_dict
		<set>
			c_updateDate=now(),
			<if test="null!=name">c_name=#{name},</if>
			<if test="null!=type">c_type=#{type}, </if>
			<if test="null!=sort">c_sort=#{sort}, </if>
			<if test="null!=value">c_value=#{value}</if>
		</set>
		WHERE pk_id = #{id}
	</update>

	<!-- 根据ID查找 -->
	<select id="queryEntityById" parameterType="java.lang.String" resultMap="relateMapper">
		<![CDATA[ SELECT t.* FROM t_dict t WHERE pk_id = #{entityId} ]]>
	</select>

	<!--  条件查询查询所有 -->
	<select id="queryAllEntity" resultMap="relateMapper" parameterType="dict">
		 <![CDATA[ SELECT * FROM t_dict WHERE 1=1]]>
		 <if test="null!=parentId and ''!=parentId">c_parentId=#{parentId}</if>
		 order by c_sort asc
	</select>
	
	<!--  条件查询查询所有 -->
	<select id="queryEntity" resultMap="relateMapper" parameterType="dict">
		 <![CDATA[ SELECT * FROM t_dict WHERE 1=1]]>
		  <if test="null!=type and ''!=type">and c_type=#{type}</if>
	</select>
	
	<!--  条件查询查询所有 -->
	<select id="queryCountEntity" resultType="java.lang.Integer" parameterType="dict">
		 <![CDATA[ SELECT count(*) FROM t_dict WHERE 1=1]]>
	</select>
	
	<!-- 查询分页列表(分页) -->
	<select id="queryPageEntity" resultMap="dictMapper" parameterType="java.util.Map">
		 <![CDATA[ SELECT * FROM t_dict WHERE 1=1]]>
		 <if test="null!=type and ''!=type">c_type=#{type}</if>
	</select>

	<!-- #######################CRUD end####################### -->
	
	
			<!-- 查询所有字典(分页) -->
	<select id="queryPageRoots" resultMap="relateMapper">
		 SELECT p.* FROM t_dict p
		 WHERE
		 p.c_parentId='' or p.c_parentId is null
	</select>
	
	<select id="queryChilds" parameterType="java.lang.String" resultMap="dictMapper">
		 SELECT p.* FROM t_dict p
		 WHERE
		 p.c_parentId=#{dictId}
		 order by p.c_sort asc
	</select>
</mapper>