<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thsword.netjob.dao.ILogDao">
	<resultMap id="logMapper" type="log">
		<!-- ID -->
		<result property="id" column="pk_id" />
		<result property="title" column="c_title" />
		<!-- 名称 -->
		<result property="userId" column="c_userid" />
		<!-- 类型 -->
		<result property="username" column="c_username" />
		<!-- appId -->
		<result property="content" column="c_content" />
		<!-- secretKey -->
		<result property="errorMsg" column="c_errormsg" />
		<result property="status" column="c_status" />
		<result property="ip" column="c_ip" />
		<result property="createDate" column="c_createDate" />
	</resultMap>

	<!-- #######################CRUD begin####################### -->  
	<!-- 增加 -->
	<insert id="addEntity" parameterType="log"
		keyProperty="id">
		<![CDATA[
			INSERT INTO t_log (
						pk_id,
						c_title,
						c_userid,
						c_username,
						c_content,
						c_errormsg,
						c_status,
						c_ip,
						c_createDate
		 				)
				VALUES(
						#{id},
						#{title},
						#{userId},
						#{username},
						#{content},
						#{errorMsg},
						#{status},
						#{ip},
						now()
				 	  	)
		]]>
	</insert>

	<!-- 删除 -->
	<delete id="deleteEntity" parameterType="log">
		<![CDATA[ DELETE FROM t_log WHERE pk_id=#{id}]]>
	</delete>

	<!-- 根据ID删除 -->
	<delete id="deleteEntityById" parameterType="java.lang.String">
		<![CDATA[ DELETE FROM t_log WHERE pk_id=#{entityId}]]>
	</delete>

	<!-- 更新 -->
	<update id="updateEntity" parameterType="log">
		UPDATE t_log
		<set>
			c_updateDate=now(),
		</set>
		WHERE pk_id = #{id}
	</update>

	<!-- 根据ID查找 -->
	<select id="queryEntityById" parameterType="java.lang.String" resultMap="logMapper">
		<![CDATA[ SELECT t.* FROM t_log t WHERE pk_id = #{entityId} ]]>
	</select>

	<!--  条件查询查询所有 -->
	<select id="queryAllEntity" resultMap="logMapper" parameterType="log">
		 <![CDATA[ SELECT * FROM t_log WHERE 1=1]]>
		 order by c_createDate desc
	</select>
	
	<!--  条件查询查询所有 -->
	<select id="queryEntity" resultMap="logMapper" parameterType="log">
		 <![CDATA[ SELECT * FROM t_log WHERE 1=1]]>
	</select>
	
	<!--  条件查询查询所有 -->
	<select id="queryCountEntity" resultType="java.lang.Integer" parameterType="log">
		 <![CDATA[ SELECT count(*) FROM t_log WHERE 1=1]]>
	</select>
	
	<!-- 查询分页列表(分页) -->
	<select id="queryPageEntity" resultMap="logMapper" parameterType="java.util.Map">
		 <![CDATA[ SELECT * FROM t_log WHERE 1=1]]>
	</select>

	<!-- #######################CRUD end####################### -->
</mapper>