<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thsword.netjob.dao.IMediaDao">
	<resultMap id="mediaMapper" type="media">
		<!-- ID -->
		<result property="id" column="pk_id" />
		<!-- 优势 -->
		<result property="link" column="c_link" />
	</resultMap>

	<!-- #######################CRUD begin####################### -->  
	<!-- 增加 -->
	<insert id="addEntity" parameterType="media"
		keyProperty="id">
		<![CDATA[
			INSERT INTO t_media (
						pk_id,
						c_memberId,
						c_type,
						c_resource,
						c_biz_id,
						c_link,
						c_citycode,
						c_createDate,
						c_createBy,
						c_updateDate,
						c_updateBy
		 				)
				VALUES(
						#{id},
						#{memberId},
						#{type},
						#{resource},
						#{bizId},
						#{link},
						#{citycode},
						now(),
						#{createBy},
						now(),
						#{updateBy}
				 	  	)
		]]>
	</insert>

	<!-- 删除 -->
	<delete id="deleteEntity" parameterType="media">
		<![CDATA[ DELETE FROM t_media WHERE pk_id=#{id}]]>
	</delete>

	<!-- 根据ID删除 -->
	<delete id="deleteEntityById" parameterType="java.lang.String">
		<![CDATA[ DELETE FROM t_media WHERE pk_id=#{entityId}]]>
	</delete>

	<!-- 更新 -->
	<update id="updateEntity" parameterType="media">
		UPDATE t_media
		<set>
			c_updateDate=now(),
			<if test="null!=agrees"> c_agrees =#{agrees},</if>
			<if test="null!=tips"> c_tips =#{tips}</if>
		</set>
		WHERE c_memberId = #{memberId}
	</update>

	<!-- 根据ID查找 -->
	<select id="queryEntityById" parameterType="java.lang.String" resultMap="mediaMapper">
		<![CDATA[ SELECT t.* FROM t_media t WHERE pk_id = #{entityId} ]]>
	</select>

	<!--  条件查询查询所有 -->
	<select id="queryAllEntity" resultMap="mediaMapper" parameterType="media">
		 <![CDATA[ SELECT * FROM t_media WHERE 1=1]]>
		 <if test="null!=memberId and ''!=memberId">and c_memberId =#{memberId}</if>
		 <if test="null!=bizId and ''!=bizId">and c_biz_id =#{bizId}</if>
		 order by c_createDate desc
	</select>
	
	<!--  条件查询查询所有 -->
	<select id="queryEntity" resultMap="mediaMapper" parameterType="media">
		 <![CDATA[ SELECT * FROM t_media WHERE 1=1]]>
		  <if test="null!=memberId and ''!=memberId">and c_memberId =#{memberId}</if>
		  <if test="null!=bizId and ''!=bizId">and c_biz_id =#{bizId}</if>
	</select>
	
	<!--  条件查询查询所有 -->
	<select id="queryCountEntity" resultType="java.lang.Integer" parameterType="media">
		 <![CDATA[ SELECT count(*) FROM t_media WHERE 1=1]]>
	</select>
	
	<!-- 查询分页列表(分页) -->
	<select id="queryPageEntity" resultMap="mediaMapper" parameterType="java.util.Map">
		 <![CDATA[ SELECT * FROM t_media WHERE 1=1]]>
		 <if test="null!=memberId and ''!=memberId">and c_memberId =#{memberId}</if>
		 <if test="null!=bizId and ''!=bizId">and c_biz_id =#{bizId}</if>
		 <if test="null!=type and ''!=type">and c_type =#{type}</if>
		 <if test="null!=resource and ''!=resource">and c_resource =#{resource}</if>
		  <if test="null!=citycode and ''!=citycode">and c_citycode =#{citycode}</if>
		  <if test="null!=resources and resources.size()>0">
		 	 and c_resource in
			 <foreach collection="resources" open="(" close=")" separator=","
	                 item="rs" index="i">
	            #{rs}
	        </foreach>
		 </if>
		 order by c_clicks,c_agrees,c_tips
	</select>

	<!-- #######################CRUD end####################### -->
</mapper>