<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thsword.netjob.dao.IOrderDao">
	<resultMap id="orderMapper" type="order">
		<result property="id" column="pk_id" />
		<result property="memberId" column="c_memberId" />
		<result property="sellerId" column="c_sellerId" />
		<result property="sellerName" column="c_sellerName" />
		<result property="sellerImage" column="c_sellerImage" />
		<result property="tradeNo" column="c_tradeNo" />
		<result property="serveId" column="c_serveId" />
		<result property="serveTitle" column="c_serveTitle" />
		<result property="serveImage" column="c_serveImage" />
		<result property="firstMenuId" column="c_firstMenuId" />
		<result property="firstMenuName" column="c_firstMenuName" />
		<result property="menuId" column="c_menuId" />
		<result property="menuName" column="c_menuName" />
		<result property="addressId" column="c_addressId" />
		<result property="address" column="c_addressId" />
		<result property="price" column="c_price" />
		<result property="count" column="c_count" />
		<result property="status" column="c_status" />
		<result property="citycode" column="c_citycode" />
		<result property="remark" column="c_remark" />
		<result property="remarkLink" column="c_remarkLink" />
		<result property="createDate" column="c_createDate" />
		<result property="updateDate" column="c_updateDate" />
	</resultMap>

	<!-- #######################CRUD begin####################### -->  
	<!-- 增加 -->
	<insert id="addEntity" parameterType="order"
		keyProperty="id">
		<![CDATA[
			INSERT INTO t_order (
						pk_id,
						c_memberId,
						c_sellerId,
						c_sellerName,
						c_sellerImage,
						c_tradeNo,
						c_serveId,
						c_serveTitle,
						c_serveImage,
						c_firstMenuId,
						c_firstMenuName,
						c_menuId,
						c_menuName,
						c_addressId,
						c_address,
						c_price,
						c_count,
						c_status,
						c_citycode,
						c_remark,
						c_remarkLink,
						c_createDate,
						c_createBy,
						c_updateDate,
						c_updateBy
		 				)
				VALUES(
						#{id},
						#{memberId},
						#{sellerId},
						#{sellerName},
						#{sellerImage},
						#{tradeNo},
						#{serveId},
						#{serveTitle},
						#{serveImage},
						#{firstMenuId},
						#{firstMenuName},
						#{menuId},
						#{menuName},
						#{addressId},
						#{address},
						#{price},
						#{count},
						#{status},
						#{citycode},
						#{remark},
						#{remarkLink},
						now(),
						#{createBy},
						now(),
						#{updateBy}
				 	  	)
		]]>
	</insert>

	<!-- 删除 -->
	<delete id="deleteEntity" parameterType="order">
		<![CDATA[ DELETE FROM t_order WHERE pk_id=#{id}]]>
	</delete>

	<!-- 根据ID删除 -->
	<delete id="deleteEntityById" parameterType="java.lang.String">
		<![CDATA[ DELETE FROM t_order WHERE pk_id=#{entityId}]]>
	</delete>

	<!-- 更新 -->
	<update id="updateEntity" parameterType="order">
		UPDATE t_order
		<set>
			c_updateDate=now()
			<if test="null!=addressId">
				c_addressId=#{addressId},
			</if>
			<if test="null!=address">
				c_address=#{address},
			</if>
			<if test="null!=price">
				c_price=#{price},
			</if>
			<if test="null!=count">
				c_count=#{count},
			</if>
			<if test="null!=status">
				c_status=#{status},
			</if>
			<if test="null!=remark">
				c_remark=#{remark},
			</if>
			<if test="null!=remarkLink">
				c_remarkLink=#{remarkLink},
			</if>
		</set>
		WHERE pk_id = #{id}
	</update>

	<!-- 根据ID查找 -->
	<select id="queryEntityById" parameterType="java.lang.String" resultMap="orderMapper">
		<![CDATA[ SELECT t.* FROM t_order t WHERE pk_id = #{entityId} ]]>
	</select>

	<!--  条件查询查询所有 -->
	<select id="queryAllEntity" resultMap="orderMapper" parameterType="order">
		 <![CDATA[ SELECT * FROM t_order WHERE 1=1]]>
		 <if test="null!=citycode and ''!=citycode">and c_status = #{status}</if>
		 order by c_createDate asc
	</select>
	
	<!--  条件查询查询所有 -->
	<select id="queryEntity" resultMap="orderMapper" parameterType="order">
		 <![CDATA[ SELECT * FROM t_order WHERE 1=1]]>
		 <if test="null!=id">and pk_id = #{id}</if>
	</select>
	
	<!--  条件查询查询所有 -->
	<select id="queryCountEntity" resultType="java.lang.Integer" parameterType="order">
		 <![CDATA[ SELECT count(*) FROM t_order WHERE 1=1]]>
	</select>
	
	<!-- 查询分页列表(分页) -->
	<select id="queryPageEntity" resultMap="orderMapper" parameterType="java.util.Map">
		 <![CDATA[ SELECT * FROM t_order WHERE 1=1]]>
		 <if test="null!=citycode and ''!=citycode">and c_citycode = #{citycode}</if>
		 <if test="null!=memberId and ''!=memberId">and c_memberId = #{memberId}</if>
		 <if test="null!=sellerId and ''!=sellerId">and c_sellerId = #{sellerId}</if>
		 <if test="null!=status and ''!=status">and c_status = #{status}</if>
	</select>

	<!-- #######################CRUD end####################### -->
	
</mapper>