<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thsword.netjob.dao.IRefundApproveDao">
	<resultMap id="refundApproveMapper" type="refundApprove">
		<!-- ID -->
		<result property="id" column="pk_id" />
		<!-- 商家ID -->
		<result property="sellerId" column="c_sellerId" />
		<!-- 买家ID -->
		<result property="buyerId" column="c_buyerId" />
		<!-- 订单ID -->
		<result property="orderId" column="c_orderId" />
		<!-- 交易号 -->
		<result property="tradeNo" column="c_tradeNo" />
		<!-- 理由 -->
		<result property="reason" column="c_reason" />
		<!-- 链接 -->
		<result property="links" column="c_links" />
		<!-- 类型 -->
		<result property="type" column="c_type" />
		<!-- 金额 -->
		<result property="money" column="c_money" />
	</resultMap>

	<!-- #######################CRUD begin####################### -->  
	<!-- 增加 -->
	<insert id="addEntity" parameterType="refundApprove"
		keyProperty="id">
		<![CDATA[
			INSERT INTO t_refund_approve (
						pk_id,
						c_sellerId,
						c_buyerId,
						c_orderId,
						c_tradeNo,
						c_reason,
						c_links,
						c_type,
						c_money,
						c_createDate,
						c_createBy,
						c_updateDate,
						c_updateBy
		 				)
				VALUES(
						#{id},
						#{sellerId},
						#{buyerId},
						#{orderId},
						#{tradeNo},
						#{reason},
						#{links},
						#{type},
						#{money},
						now(),
						#{createBy},
						now(),
						#{updateBy}
				 	  	)
		]]>
	</insert>

	<!-- 删除 -->
	<delete id="deleteEntity" parameterType="refundApprove">
		<![CDATA[ DELETE FROM t_refund_approve WHERE pk_id=#{id}]]>
	</delete>

	<!-- 根据ID删除 -->
	<delete id="deleteEntityById" parameterType="java.lang.String">
		<![CDATA[ DELETE FROM t_refund_approve WHERE pk_id=#{entityId}]]>
	</delete>

	<!-- 更新 -->
	<update id="updateEntity" parameterType="refundApprove">
		UPDATE t_refund_approve
		<set>
			c_updateDate=now(),
		</set>
		WHERE pk_id = #{id}
	</update>

	<!-- 根据ID查找 -->
	<select id="queryEntityById" parameterType="java.lang.String" resultMap="refundApproveMapper">
		<![CDATA[ SELECT t.* FROM t_refund_approve t WHERE pk_id = #{entityId} ]]>
	</select>

	<!--  条件查询查询所有 -->
	<select id="queryAllEntity" resultMap="refundApproveMapper" parameterType="refundApprove">
		 <![CDATA[ SELECT * FROM t_refund_approve WHERE 1=1]]>
		 <if test="null!=orderId and ''!=orderId">and c_orderId = #{orderId}</if>
		 <if test="null!=tradeNo and ''!=tradeNo">and c_tradeNo = #{tradeNo}</if>
		 <if test="null!=sellerId and ''!=sellerId">and c_sellerId = #{sellerId}</if>
		 <if test="null!=buyerId and ''!=buyerId">and c_buyerId = #{buyerId}</if>
		 <if test="null!=type and ''!=type">and c_type = #{type}</if>
		 order by c_createDate desc
	</select>
	
	<!--  条件查询查询所有 -->
	<select id="queryEntity" resultMap="refundApproveMapper" parameterType="refundApprove">
		 <![CDATA[ SELECT * FROM t_refund_approve WHERE 1=1]]>
		 <if test="null!=orderId and ''!=orderId">and c_orderId = #{orderId}</if>
		 <if test="null!=tradeNo and ''!=tradeNo">and c_tradeNo = #{tradeNo}</if>
		 <if test="null!=sellerId and ''!=sellerId">and c_sellerId = #{sellerId}</if>
		 <if test="null!=buyerId and ''!=buyerId">and c_buyerId = #{buyerId}</if>
		 <if test="null!=type and ''!=type">and c_type = #{type}</if>
	</select>
	
	<!--  条件查询查询所有 -->
	<select id="queryCountEntity" resultType="java.lang.Integer" parameterType="refundApprove">
		 <![CDATA[ SELECT count(*) FROM t_refund_approve WHERE 1=1]]>
		  <if test="null!=orderId and ''!=orderId">and c_orderId = #{orderId}</if>
		 <if test="null!=tradeNo and ''!=tradeNo">and c_tradeNo = #{tradeNo}</if>
		 <if test="null!=sellerId and ''!=sellerId">and c_sellerId = #{sellerId}</if>
		 <if test="null!=buyerId and ''!=buyerId">and c_buyerId = #{buyerId}</if>
		 <if test="null!=type and ''!=type">and c_type = #{type}</if>
	</select>
	
	<!-- 查询分页列表(分页) -->
	<select id="queryPageEntity" resultMap="refundApproveMapper" parameterType="java.util.Map">
		 <![CDATA[ SELECT * FROM t_refund_approve WHERE 1=1]]>
		  <if test="null!=orderId and ''!=orderId">and c_orderId = #{orderId}</if>
		 <if test="null!=tradeNo and ''!=tradeNo">and c_tradeNo = #{tradeNo}</if>
		 <if test="null!=sellerId and ''!=sellerId">and c_sellerId = #{sellerId}</if>
		 <if test="null!=buyerId and ''!=buyerId">and c_buyerId = #{buyerId}</if>
		 <if test="null!=type and ''!=type">and c_type = #{type}</if>
	</select>

	<!-- #######################CRUD end####################### -->
</mapper>