<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thsword.netjob.dao.IServeDao">
	<resultMap id="serveMapper" type="serve">
		<!-- 用户ID -->
		<result property="id" column="pk_id" />
		<!-- 缩略图 -->
		<result property="title" column="c_title" />
		<result property="type" column="c_type" />
		<!-- 缩略图 -->
		<result property="image" column="c_image" />
		<!-- 需求方式(线上1 线下2) -->
		<result property="workType" column="c_work_type" />
		<!-- 结算方式(线上1 线下2) -->
		<result property="payType" column="c_pay_type" />
		<!-- 价格 -->
		<result property="price" column="c_price" />
		<!-- 报价方式(1一口价 2商议) -->
		<result property="priceType" column="c_price_type" />
		<!-- 有效期(/天) -->
		<result property="validity" column="c_validity" />
		<!-- 有效期(/天) -->
		<result property="serveTime" column="c_serve_time" />
		<!-- 描述 -->
		<result property="description" column="c_description" />
		<!-- 类型id -->
		<result property="menuId" column="c_menu_id" />
		<result property="menuName" column="menuName" />
		<!-- 视频+图片集合["aaa","bbb","ccc"] -->
		<result property="links" column="c_links" />
		<!-- 点击量 -->
		<result property="clicks" column="c_clicks" />
		<!-- 省 -->
		<result property="provinceName" column="c_province_name" />
		<!-- 市 -->
		<result property="citycode" column="c_citycode" />
			<!-- 市 -->
		<result property="cityName" column="c_city_name" />
		<!-- 区 -->
		<result property="area" column="c_area" />
		<!-- 详细地址 -->
		<result property="detailAddress" column="c_detail_address" />
		<!-- 关键字 -->
		<result property="keywords" column="c_keywords" />
		<!-- 是否发布 -->
		<result property="published" column="c_published" />
		<!-- 发布时间 -->
		<result property="publishDate" column="c_publish_date" />
		<!-- 会员ID -->
		<result property="memberId" column="c_member_id" />
		<!-- 会员名称 -->
		<result property="memberName" column="memberName" />
		<!-- 经度 -->
		<result property="longitude" column="c_longitude" />
		<!-- 纬度 -->
		<result property="latitude" column="c_latitude" />
		<!-- 纬度 -->
		<result property="distance" column="c_distance" />
	</resultMap>
	

	<!-- #######################CRUD begin####################### -->  
	<!-- 增加 -->
	<insert id="addEntity" parameterType="serve"
		keyProperty="id">
		<![CDATA[
			INSERT INTO t_serve (
						pk_id,
						c_title,
						c_type,
						c_image,
						c_work_type,
						c_pay_type,
						c_price,
						c_price_type,
						c_validity,
						c_serve_time,
						c_menu_id,
						c_links,
						c_province_name,
						c_description,
						c_citycode,
						c_city_name,
						c_area,
						c_detail_address,
						c_keywords,
						c_publish_date,
						c_member_id,
						c_longitude,
						c_latitude,
						c_createDate,
						c_createBy,
						c_updateDate,
						c_updateBy
		 				)
				VALUES(
						#{id},
						#{title},
						#{type},
						#{image},
						#{workType},
						#{payType},
						#{price},
						#{priceType},
						#{validity},
						#{serveTime},
						#{menuId},
						#{links},
						#{provinceName},
						#{description},
						#{citycode},
						#{cityName},
						#{area},
						#{detailAddress},
						#{keywords},
						#{publishDate},
						#{memberId},
						#{longitude},
						#{latitude},
						now(),
						#{createBy},
						now(),
						#{updateBy}
				 	  	)
		]]>
	</insert>

	<!-- 删除 -->
	<delete id="deleteEntity" parameterType="serve">
		<![CDATA[ DELETE FROM t_serve WHERE pk_id=#{id}]]>
	</delete>

	<!-- 根据ID删除 -->
	<delete id="deleteEntityById" parameterType="java.lang.String">
		<![CDATA[ DELETE FROM t_serve WHERE pk_id=#{entityId}]]>
	</delete>

	<!-- 更新 -->
	<update id="updateEntity" parameterType="serve">
		UPDATE t_serve
		<set>
			<if test="null!=title">c_title=#{title},</if>
			<if test="null!=image">c_image=#{image},</if>
			<if test="null!=workType ">c_work_type=#{workType},</if>
			<if test="null!=payType">c_pay_type=#{payType}, </if>
			<if test="null!=price">c_price=#{price},</if>
			<if test="null!=priceType">c_price_type=#{priceType},</if>
			<if test="null!=validity">c_validity=#{validity},</if>
			<if test="null!=serveTime">c_serve_time=#{serveTime},</if>
			<if test="null!=menuId">c_menu_id=#{menuId},</if>
			<if test="null!=links">c_links=#{links},</if>
			<if test="null!=provinceName">c_province_name=#{provinceName},</if>
			<if test="null!=description">c_description=#{description},</if>
			<if test="null!=citycode">c_citycode=#{citycode},</if>
			<if test="null!=longitude">c_longitude=#{longitude},</if>
			<if test="null!=latitude">c_latitude=#{latitude},</if>
			<if test="null!=cityName">c_city_name=#{cityName},</if>
			<if test="null!=area">c_area=#{area},</if>
			<if test="null!=detailAddress">c_detail_address=#{detailAddress},</if>
			<if test="null!=keywords">c_keywords=#{keywords},</if>
			<if test="null!=published">c_published=#{published}</if>
		</set>
		WHERE pk_id = #{id}
	</update>

	<!-- 根据ID查找 -->
	<select id="queryEntityById" parameterType="java.lang.String" resultMap="serveMapper">
		<![CDATA[ SELECT t.*,m.c_name FROM t_serve t,t_menu m WHERE m.pk_id = t.c_menu_id and pk_id = #{entityId} ]]>
	</select>

	<!--  条件查询查询所有 -->
	<select id="queryAllEntity" resultMap="serveMapper" parameterType="serve">
		 <![CDATA[ SELECT t.*,m.c_name FROM t_serve t,t_menu m WHERE m.pk_id = t.c_menu_id]]>
	</select>
	
	<!--  条件查询查询所有 -->
	<select id="queryEntity" resultMap="serveMapper" parameterType="serve">
		 <![CDATA[ SELECT t.*,m.c_name FROM t_serve t,t_menu m WHERE m.pk_id = t.c_menu_id]]>
	</select>
	
	<!--  条件查询查询所有 -->
	<select id="queryCountEntity" resultType="java.lang.Integer" parameterType="serve">
		 <![CDATA[ SELECT count(*) FROM t_serve WHERE 1=1]]>
	</select>
	
	<!-- 查询分页列表(分页) -->
	<select id="queryPageEntity" resultMap="serveMapper" parameterType="java.util.Map">
		 SELECT t.*,
		 m.c_name as menuName,
		 me.c_name as memberName
		 <if test="null!=dis_sort and 'c_distance'==dis_sort and null!=latitude and ''!=latitude
		 and null!=longitude and ''!=longitude">
		 ,ROUND(
		 	6378.138*2*ASIN(SQRT(POW(SIN((#{latitude}*PI()/180-c_latitude*PI()/180)/2),2)
		 	+COS(#{latitude}*PI()/180)*COS(c_latitude*PI()/180)*POW(SIN((#{longitude}*PI()/180-c_longitude*PI()/180)/2),2)))*1000)
		 AS
 		 c_distance
		 </if>
		 FROM t_serve t,
		 t_menu m,
		 t_member me 
		 WHERE 
		 m.pk_id = t.c_menu_id 
		 and me.pk_id = t.c_member_id
		 <if test="null!=type and ''!=type">and t.c_type = #{type}</if>
		 
		 <if test="null!=maxAge and ''!=maxAge"><![CDATA[and me.c_age <= #{maxAge}]]></if>
		 <if test="null!=minAge and ''!=minAge"><![CDATA[and me.c_age >= #{minAge}]]></if>
		 
		 <if test="null!=minLatitude and ''!=minLatitude"><![CDATA[and t.c_latitude >= #{minLatitude}]]></if>
		 <if test="null!=maxLatitude and ''!=maxLatitude"><![CDATA[and t.c_latitude <= #{maxLatitude}]]></if>
		 <if test="null!=minLongitude and ''!=minLongitude"><![CDATA[and t.c_longitude >= #{minLongitude}]]></if>
		 <if test="null!=maxLongitude and ''!=maxLongitude"><![CDATA[and t.c_longitude >= #{maxLongitude}]]></if>
		 
		 <if test="null!=maxSkill and ''!=maxSkill"><![CDATA[and me.c_skillScore <= #{maxSkill}]]></if>
		 <if test="null!=minSkill and ''!=minSkill"><![CDATA[and me.c_skillScore >= #{minSkill}]]></if>
		 
		 <if test="null!=maxCredit and ''!=maxCredit"><![CDATA[and me.c_creditScore <= #{maxCredit}]]></if>
		 <if test="null!=minCredit and ''!=minCredit"><![CDATA[and me.c_creditScore >= #{minCredit}]]></if>
		 
		 <if test="null!=memberId and ''!=memberId">and t.c_member_id = #{memberId}</if>
		 
		 <if test="null!=gender and ''!=gender">and me.c_gender = #{gender}</if>
		 
		 <if test="null!=menuId and ''!=menuId">and t.c_menu_id = #{menuId}</if>
		 
		 <if test="null!=citycode and ''!=citycode">and t.c_citycode = #{citycode}</if>
		 
		  <if test="null!=startTime and ''!=startTime and null!=endTime and ''!=endTime">
		  	 <![CDATA[
		  	and 
		  	(
				(str_to_date(concat(DATE_FORMAT(now(),'%Y-%m-%d')," ",#{startTime}),"%Y-%m-%d %H:%i:%s") > str_to_date(concat(DATE_FORMAT(now(),'%Y-%m-%d')," ",SUBSTRING_INDEX(t.c_serve_time,"-",1)),'%Y-%m-%d %H:%i')
				and 
				str_to_date(concat(DATE_FORMAT(now(),'%Y-%m-%d')," ",#{startTime}),"%Y-%m-%d %H:%i:%s") < str_to_date(concat(DATE_FORMAT(now(),'%Y-%m-%d')," ",SUBSTRING_INDEX(t.c_serve_time,"-",-1)),'%Y-%m-%d %H:%i')
				)
				or
				(str_to_date(concat(DATE_FORMAT(now(),'%Y-%m-%d')," ",#{endTime}),"%Y-%m-%d %H:%i:%s") > str_to_date(concat(DATE_FORMAT(now(),'%Y-%m-%d')," ",SUBSTRING_INDEX(t.c_serve_time,"-",1)),'%Y-%m-%d %H:%i')
				and 
				str_to_date(concat(DATE_FORMAT(now(),'%Y-%m-%d')," ",#{endTime}),"%Y-%m-%d %H:%i:%s") < str_to_date(concat(DATE_FORMAT(now(),'%Y-%m-%d')," ",SUBSTRING_INDEX(t.c_serve_time,"-",-1)),'%Y-%m-%d %H:%i')
				)
			)
		  	]]>
		  </if>
	</select>

	<!-- #######################CRUD end####################### -->
	<update id="addClick" parameterType="java.lang.String">
		UPDATE t_serve
		<set>
			c_clicks=c_clicks+1
		</set>
		WHERE pk_id = #{id}
	</update>
	
</mapper>